<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--Change 'localhost' to the fully qualified domain name where the OpenAccess service is hosted-->
    <add key="WebEventBridgeUri" value="https://w10-paulo:8080/api/access/onguard/openaccess/eventbridge"/>
    <add key="OpenAccessServiceUri" value="https://w10-paulo:8080/api/access/onguard/openaccess"/>
    <add key="OpenAccessApplicationId" value="SYS_ADMIN_APP"/>
    <add key="ValidateOpenAccessSslCertificate" value="false"/>
    <add key="Username" value=""/>
    <add key="Password" value=""/>
    <add key="DirectoryId" value=""/>
    <add key="EventSubscriptionDescription" value="Sample Event Subscription"/>
    <add key="EventSubscriptionFilter" value=""/>
    <add key="EventSubscriptionIsDurable" value="false"/>
    <!-- The SignalR trace level can be "None", "Events", "StateChanges", "Messages", "All", or any combination,
         like "Events|StateChanges".
         See https://msdn.microsoft.com/en-us/library/microsoft.aspnet.signalr.client.tracelevels%28v=vs.118%29.aspx. -->
    <add key="SignalRConnectionTraceLevel" value="None"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
